:root {
  --color-light: #fff;
  --color-dark: #1c1c20;
  --color-primary: #2a7baa;
  --color-secondary: #394d79;
  --color-com: #d55252;

  --font-primary: 'Poppins', sans-serif;
  --font-weight: 300;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  background-color: var(--color-primary);
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}